<div class="container">
  <div class="charDisplay">
    <div class="row">

      <div class="col-md-4 colin">
          <div class="goodguy-holder">

          </div>

          <div id="atk-btn-holder">
          <button class="attack-button" name="button">Attack!</button>
          </div>

      </div>


    <div class="col-md-4">
      <div class="attack-animation">
        <img src="" alt="" />
      </div>
      <div id="reset-btn-holder">
      <button class="reset-button" type="button" name="button">New Game?</button>
      </div>
    </div>


      <div class="col-md-4">
        <div class="badguy-holder">

        </div>

      </div>

    </div>
  </div>
</div>
